<md-button ng-if="vm.level>1" ng-click="vm.previouslevel()">Back</md-button>
<md-grid-list id='letter-grid-list' md-cols-xs="3" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="6" md-row-height="2:2" md-gutter="12px"  md-gutter-gt-sm="8px">
  <md-grid-tile ng-repeat="letter in vm.roadletters" >
    <md-button  class='md-raised road-letter' ng-click="vm.getRoadsbyLetter(letter.firstletter)" flex>
      {{letter.firstletter}}
    </md-button>
  </md-grid-tile>
</md-grid-list>
<md-button ng-click="vm.nextlevel()">Next view</md-button>
