<div layout='column' flex>

    <div layout='row' style='min-height:48px;' >
        <md-button ng-click="vm.goBack()" layout-align="center center" layout="row"><i class="material-icons">arrow_back</i>Back</md-button>
        <div flex></div>
        <div layout-align="center center" layout="row">
            <span>{{vm.currentletter}} </span>
        </div>
        <div flex style='vertical-align: middle; margin-left: 10px;margin-top:auto;margin-bottom:auto;'><input ng-model="road.search" ng-change="" type="text" style="width:100%;"/></div>
        <div flex='25'></div>
    </div>
    <div id='roadlist' flex>
      <div layout='column' ng-repeat="roadname in vm.currentRoads | filter: road.search" flex>
          <md-button class='md-raised' value={{roadname.ID}} href="{{'#!'+vm.currentlocation +'/:' + roadname.ID}}">{{roadname.NAME}}</md-button>
          <!--+'/:roadname.ID'-->
      </div>
    </div>

</div>
