<div layout='row'>
<md-button ng-click="vm.previouslevel()"><md-icon>arrow_back</md-icon>Back</md-button>
<div flex></div>
<div><h1 class='md-title'>{{vm.currentRoad.name}}</h1></div>
<div flex></div>
</div>
 <md-divider></md-divider>
<div flex layout="column">
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon class="md-avatar-icon">directions</md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <h1 class="md-title">DIRECTIONS</h1>
      </md-card-header-text>
    </md-card-header>
    {{vm.currentRoad.directions}}
  </md-card>
  <md-divider></md-divider>
  <div id='buttonarea' layout-xs="column" layout-gt-xs="row">
    <div flex>
      <md-button class='md-raised md-padding' style='width:100%;' ng-click="vm.showinfo()">
        <div flex></div>
        <div class="preview-glyphs">
            <md-icon>navigation</md-icon>
        </div>
        <div><span>GPS</span></div>
      </md-button>
    </div>
    <div flex>
      <md-button class='md-raised' style='width:100%;'>
        <div flex></div>
        <div class="preview-glyphs">
          <div flex></div>
          <md-icon>home</md-icon>
          <div flex></div>
        </div>
        <div><span>Addresses</span></div>
      </md-button>
    </div>
    <div flex>
      <md-button class='md-raised' style='width:100%;'>
        <div flex></div>
        <div class="preview-glyphs">
            <md-icon>more_horiz</md-icon>
        </div>
        <div>
            <span>Details</span>
        </div>

      </md-button>

    </div>
    <div flex>
      <md-button class='md-raised' style='width:100%;'>
        <div flex></div>
        <div class="preview-glyphs">
            <md-icon>share</md-icon>
        </div>
        <div>
            <span>Send to ..</span>
        </div>
      </md-button>
    </div>
  </div>
</div>
<infopanel></infopanel>
