<div layout='row'>
    <div>
      <md-button ng-click="vm.goBack();"><md-icon>arrow_back</md-icon>Back</md-button>
    </div>
    <div flex></div>
    <div>
      <h1 class='md-title'>{{vm.currentRoad.name}}</h1>
    </div>
    <div flex></div>
</div>
 <md-divider></md-divider>
<div ng-controller="infoPanelControl as pc">
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <md-icon class="md-avatar-icon">directions</md-icon>
      </md-card-avatar>
      <md-card-header-text>
          <h1 class="md-title">DIRECTIONS</h1>        
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p>
        {{vm.currentRoad.directions}}
      </p>
    </md-card-content>
  </md-card>
  <md-divider></md-divider>
  <div id='buttonarea' layout-xs="column" layout-gt-xs="row" layout-align="center">
      <md-button class='md-raised md-padding' ng-href="{{vm.roadgpslink}}" flex-gt-xs>
        <!--ng-click="pc.showDialog($event)"-->
        <div flex></div>
        <div class="preview-glyphs">
            <md-icon>navigation</md-icon>
        </div>
        <div><span>GPS</span></div>
      </md-button>
      <md-button class='md-raised md-padding' flex-gt-xs>
        <div flex></div>
        <div class="preview-glyphs">
          <div flex></div>
          <md-icon>home</md-icon>
          <div flex></div>
        </div>
        <div><span>Addresses</span></div>
      </md-button>
      <md-button class='md-raised md-padding' flex-gt-xs>
        <div flex></div>
        <div class="preview-glyphs">
            <md-icon>more_horiz</md-icon>
        </div>
        <div>
            <span>Details</span>
        </div>

      </md-button>
      <md-button class='md-raised md-padding' flex-gt-xs>
        <div flex></div>
        <div class="preview-glyphs">
            <md-icon>share</md-icon>
        </div>
        <div>
            <span>Send to ..</span>
        </div>
      </md-button>
  </div>
</div>

